<div class='nv-main'>
  <div class='nv-title'> <%= post.title %> </div>
    <div class='nv-main'>Asked by <%= post.user.first_name %> <%= post.user.last_name %> on
      <%= post.user.created_at.strftime("%H:%M, %d %b") %>
    </div>
    <br>
    <% if post.photos.length == 1 %>
      <% post.photos.each do |photo| %>
        <div class='nv-single-image'>
          <%= image_tag photo.photo.url :medium %>
          <%= photo.upvotes %>
          <%= button_to "Upvote", votes_path(:photo => photo.id, :value => 1), method: :post %>
          <%= photo.downvotes %>
          <%= button_to "Downvote", votes_path(:photo => photo.id, :value => -1), method: :post %>
        </div>
      <% end %>
    <% else %>
    <div class='nv-two-image-holder'>
      <div class='nv-two-images-box'>
      <% post.photos.each do |photo| %>
      <div class='nv-two-images'>
        <%= image_tag photo.photo.url :medium %>
        <div class='nv-two-images-vote'>
          <%= photo.upvotes %>
          <%= button_to "Like", votes_path(:photo => photo.id, :value => 1), method: :post %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
    <% end %>
    <% if signed_in? && current_user.id == post.user_id %>
      <%= button_to "Delete", post_path(post), method: :delete %>
    <% end %>
    <br>
    <%= link_to "Comments", post_path(post) if signed_in? %>
  </div>
</div>