<div class='black-color-background'><% if signed_in? %>
  <div class='text-block-left'>Welcome <%= current_user.first_name %>!</div>
  <div class='text-block-right'><%= link_to "Sign out", signout_path %></div>
</div>

<%=  render 'post_form' %>

<% else %>
  <p> Please sign in to get better results and to be able to post </p>
<% end %>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.published == true %>
    <%= render partial: 'post', object: post %>

    <%= link_to "Comment", post_path(post) if signed_in? %>
    <% end %>
  <% end %>
<% end %>