<% if signed_in? %>
  <p>Welcome! <%= current_user.first_name %>
    <%= link_to "Sign out", signout_path %>
  </p>

<%=  render 'post_form' %>

<% else %>
  <p> Please sign in to get better results and to be able to post </p>
<% end %>

<% if @posts %>
  <% @posts.each do |post| %>
    <%= render partial: 'post', object: post %>

    <%= link_to "Comment", post_path(post) if signed_in? %>
    <%= link_to "Like post", votes_path(:post => post.id), method: :post if signed_in? %>
  <% end %>
<% end %>