<% if signed_in? %>
  <p>Welcome! <%= current_user.first_name %>
    <%= link_to "Sign out", signout_path %>
  </p>

<%=  render 'post_form' %>

<% else %>
  <p> Please sign in to get better results and to be able to post </p>
<% end %>

<% if @posts %>
  <% @posts.each do |post| %>
    <h2> <%= post.title %> </h2>
    <%= link_to "Edit", edit_post_path(post) %>

    <% if current_user.id == post.user_id %>
      <%= link_to "Delete", post_path(post), method: :delete %>
      <%= image_tag post.picture1.url :medium %>
    <% end %>
  <% end %>
<% end %>