
<% if @post.published == true %>
<%= render partial: 'post', object: @post %>
<% end %>

<% if signed_in? %>
  <%= form_for @comment, url: post_comments_path(@post) do |f| %>
    <%= f.label :body, 'Say something' %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>

  <% if @post.comments %>
    <% @post.comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <% if current_user.id == comment.user_id %>
        <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
        <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
      <% end %>
      <%= link_to "Like", votes_path(:comment => comment.id, :value => 1), method: :post%>
      <span> <%= comment.votes.sum(:value) %> </span>
    </p>

    <% end %>
  <% end %>
<% end %>