<!DOCTYPE html>
<html>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <head>
    <title>Newvo</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
   <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale = 1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class='nv-block'><% if signed_in? %>
        <div class='nv-left'>Welcome <%= current_user.first_name %>!</div>
        <div class='nv-mid'>NewVo</div>
        <div class='nv-right-top-menu'><%= link_to "Sign out", signout_path %></div>
      <% end %>
      </div>
    </header>

  <%= yield %>

  </body>
  <footer>
    <%= render'layouts/footer' %>
  </footer>
</html>
